@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato:wght@300&display=swap');
body {
  box-sizing: 0;
}
h1 {
  text-align: left;
  padding-left: 100px;
  font-size: 5vw;
  margin: 0;
}
h2 {
  font-weight: bolder;
}
header {
  font-family: Karla;
  width: 88vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
a {
  text-decoration: none;
  color: rgb(206, 162, 105);
}
a:hover {
  color: rgb(207, 185, 157);
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
nav {
  margin: auto 0;
}
nav ul > li {
  font-size: 3vh;
  padding: 0 2vw;
  letter-spacing: .5vw;
  display: inline;
}
footer ul {
  margin-top: 10px;
}
footer ul > li{
  display: inline;
}
.info-card {
  text-align: right;
}
.skill-grid {
  max-width: 30vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main {
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  text-align: center;
}
section {
  max-width: 30vw;
}
form input{
  padding: 5px;
  margin: 5px;
}
aside, article {
  padding: 10px;
  background-color: rgba(207, 185, 157, 0.25);
}
#projects {
  text-align: center;
  max-height: 410px;
  overflow: scroll;
}
.skill-border {
  border: 1px solid rgba(68, 68, 68, .15);
  letter-spacing: .3vw;
}
.about-box {
  margin: 0 auto;
}
footer {
  width: 100%;
  text-align: center;
}
footer a {
  padding: 15px 10px;
}
.footer-logo {
  width: 30px;
  height: auto;
}
.thumb-size {
  width: 10vw;
  margin-top: 10px;
}
.project-image {
  max-width: 50vw;
  height: auto;
  background-color: rgb(207, 185, 157);
  border: 2px solid rgba(68, 68, 68, 0.5);
}
.card-bg, .info-bg {
  background-color: rgba(207, 185, 157, 0.25);
}


@media (max-width: 400px) {
  h1 {
    font-size: 200%;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .info-card {
    display: inline-block;
  }
  header {
    text-align: center;
  }
  nav ul > li {
    display: block;
  }
  .skill-grid {
    display: block;
  }
  .main {
    display: flex;
    margin: 10px;
  }
}